@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

li {
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    cursor: pointer;
    font-size: 1.50rem;
}

li:hover {
    border-bottom: 5px solid white;
}